body{
    background-color: #ffdbc5;
    font-family:'Salsa', cursive;
    margin-left: 2%;
}

table{
    width: 70%;
}
tr{
    border-bottom:1px solid gray;
}
p{
    margin: 2%;
    padding: 5%;
}