body{
	border: 20px solid #bdc3c7;
    	
    padding: 18px;
    margin: 19.2px 200px;	

}
.top{
    margin: 19.2px 0%;
    width:921.6px;
}
.name{
    padding-left: 19.2px;
    margin-left: 19.2px;
}
div{
    margin:19.2px 19.2px;
    padding-left: 19.2px;
}
.headings{
    margin-bottom: 9.6px;
}
p {
    font-size: large;
}
table{
    margin:19.2px 0%;
    width:816px;
}
hr{
    border:1px solid #bdc3c7;
    width: 672px;
    color:#bdc3c7;
}
.line{
   
    border:2px solid #bdc3c7;
    width: 980px;
}
